<h1>!Ad conment (sory abot mi bed gramer) heer¡</h1>

<form class="" action="/New_Kinds_of_Ways_to_Brag">
<label for="text"><h2>Yr conment heer</h2></label>
<input type="text" id ="text" name="text" value="">
<input type="submit" name="subbmett" value="">
<label for="foto_id"><h2>?yrconment¿</h2></label>
<input type="hidden" id ="foto_id" name="foto_id" value="<%= params['id'] %>">
<input type="submit" name="subbmett" value="">
</form>
