<h1>!Edet fotos (sory abot mi bed gramer) heer¡</h1>

<form class="" action="/update_foto/<%= @foto.id %>">
<label for="image_url"><h2>!imaje uarel¡</h2></label>
<input type="text" id ="image_url" name="image_url" value="<%= @foto.image_url %>">
<input type="submit" name="subbmett" value="">
<label for="image_url"><h2>?yourlimage¿</h2></label>
<input type="text" id ="image_url" name="caption" value="<%= @foto.caption %>">
<input type="submit" name="subbmett" value="">
</form>
