<h1>!Ad fotos (sory abot mi bed gramer) heer¡</h1>

<form class="" action="/create_foto">
<label for="image_url"><h2>!imaje uarel¡</h2></label>
<input type="text" id ="image_url" name="image_url" value="">
<input type="submit" name="subbmett" value="">
<label for="image_url"><h2>?yourlimage¿</h2></label>
<input type="text" id ="image_url" name="caption" value="">
<input type="submit" name="subbmett" value="">
</form>


<h1>Heer r the lst of fotos</h1>

<ul>
<% @list_of_all_the_fotos.each do |number_of_the_foto_you_are_on| %>
  <li>
    <img src="<%= number_of_the_foto_you_are_on.image_url %>" width=500 alt="">
    <a href="/fotosremove/<%=number_of_the_foto_you_are_on.id%>">remove</a>
    <a href="/edit_ur_foto/<%=number_of_the_foto_you_are_on.id%>">edit</a>
  </li>
<% end %>
</ul>
