<h1>!Ad fotos (sory abot mi bed gramer) heer¡</h1>

<form class="" action="/create_foto">
<label for="image_url"><h2>!imaje uarel¡</h2></label>
<input type="text" id ="image_url" name="image_url" value="">
<input type="submit" name="subbmett" value="">
<label for="image_url"><h2>?yourlimage¿</h2></label>
<input type="text" id ="image_url" name="caption" value="">
<input type="submit" name="subbmett" value="">
</form> 
